@{
    ViewData["Title"] = "Wedding Planner - Login & Registration";
}

<div class="container">
    <h2 class="text-center">Welcome</h2>
    <hr>

    <div class="row">
        <div class="col-md">
            <partial name="_Register"/>
        </div>
        <div class="col-md">
            <partial name="_Login"/>
        </div>
    </div>
</div>