@model Wedding

<div class="container">
    <h3>Plan Your Wedding</h3>
    <hr>
    <div class="row">
        <div class="col-md-10">
        <div class="form border border-primary p-1 shadow-lg p-3 mb-5 rounded">
            <h3 class="text-center">New Wedding</h3>
            <hr class="border-primary" />
            <form asp-action="CreateWedding" asp-controller="Home" method="POST">
            <div class="form-group row">
                <label for="WedderOne" class="col-2">Wedder One:</label>
                <div class="col-10">
                <input class="form-control" asp-for="WedderOne">
                <small id="errors" class="form-text text-danger"><span asp-validation-for="WedderOne"></span></small>
                </div>
            </div>
            <div class="form-group">
                <label for="WedderTwo">Wedder Two: </label>
                <input class="form-control" asp-for="WedderTwo">
                <small id="errors" class="form-text text-danger"><span asp-validation-for="WedderTwo"></span></small>
            </div>
            <div class="form-group">
                <label for="Date">Date: </label>
                <input class="form-control" asp-for="Date">
                <small id="errors" class="form-text text-danger"><span asp-validation-for="Date"></span></small>
            </div>
            <div class="form-group">
                <label for="Address">Address: </label>
                <input class="form-control" asp-for="Address">
                <small id="errors" class="form-text text-danger"><span asp-validation-for="Address"></span></small>
            </div>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>